<div class="row-fluid">
    <div class="span6">
        <p>Pure bootstrap table</p>
        <table class="table table-hover table-bordered table-striped">
            <caption>Bootstrap pure table</caption>
            <thead>
            <tr>
                <th>name</th>
                <th>age</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="value in values">
                <td>{{value.name}}</td>
                <td>{{value.age}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="span6">
        <p>Highstocks sample 1</p>
        <div id="chart1"></div>
    </div>

</div>
<div class="row-fluid">
    <div class="span6"><p>Highcharts sample 1</p>
    <div id="chart2"></div></div>
    <div class="span6"><p>Highcharts sample 2</p>
        <div id="chart3"></div></div>
</div>