

<nav class="navbar">
    <div class="navbar-inner">
        <ul class="nav nav-list">
            <li><a href="#/home"> <i class="icon-home"></i></a></li>

        </ul>
        <ul class='nav nav-list' ng-repeat='module in modules'>
            <li ><a href='#/{{module.moduleNamespace}}/main'>{{module.moduleLabel}}</a></li>
        </ul>
        <!--<ul class="nav nav-list" ng-repeat="module in modules" >
            <li ><a href="#/{{module.moduleNamespace}}/main">{{module.moduleLabel}}</a></li>

        </ul>-->

        <form class="navbar-search pull-right">
            <input type="text" class="search-query" placeholder="Search">
        </form>
    </div>
</nav>